.history-card {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  margin-top: 9rem;
}

.card {
  color: black;
  border-style: solid;
  margin: 1rem;
}

.card-dark {
  color: white;
  border-style: solid;
  border-color: azure;
  margin: 1rem;
}
