.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1.5px;
  margin-top: 5rem;
  margin-left: 1.5rem;
}

.left-side {
  margin-top: 1.7rem;
}

.sort-icon {
  width: 1rem;
  margin-right: 0.5rem;
}

.follow-count-cell {
  width: 8rem;
}

.buttons {
  background-color: #15b5e2;
  margin-left: 0.15rem;
  margin-top: 1.5rem;
  border: none;
  font-size: 16px;
  padding: 21px 13px 16px;
  transform: translateY(-20px);
  border-radius: 4px;
}

.placeholder {
  color: #000;
}

.placeholder-dark {
  color: #fff;
}

.cell {
  /* background-color: #cedae7; */
  color: #000;
}

.cell-dark {
  background-color: #99b3cd;
}
