.container-wrap {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.message {
  margin-top: 8rem;
  margin-left: 2rem;
}

.paper {
  margin-top: 8rem;
  width: 90%;
  margin-left: 3rem;
}

.table-container {
  max-height: 77vh;
}

.table-container {
  position: sticky;
  top: 0;
}
